<!DOCTYPE html>
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title MonECommerce
        link(rel='stylesheet' href='/css/style.css')
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    body
        nav
            ul.nav
                li.navbar
                    a(href='/') Accueil
                li.navbar
                    a(href='/search') Rechercher
                li.navbar
                    a(href='/inscription') S'inscrire
                li.navbar
                    a(href='/connect') Se connecter
        h1 Mon Site E-Commerce
        if connect
            div.alert.alert-success.flashbag #{connect}
        main.container

        script(src=process.env.BROWSER_REFRESH_URL)